table {
    border-style:groove ;
    border-color: cadetblue;
    background-color:darkslategray;
}
body {
    background-color: beige;
}
h1 {
    color: darkslategray;
}
td {
    text-align: center;
    color:azure
}
a {
    color: wheat
}
.milestone {
    font-size: 48px;
    text-align: center;
}
.mag {
    text-align: center;
}
img {
    width: 350px
}
h3 {
    color:blue
}
.carousel {
    width: 300px
}